@using Household_Balance_Tracker.Models.ViewModels

@model TransactionViewModel

<h2>Registration Successful</h2>
<p>Details: @Model.details</p>
<p>Value: @Model.value</p>
<p>Type: @Model.type</p>
<p>Owner Identifier: @Model.emailOrId</p>
