###################
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo

# Include DLLs if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
!*CommonReferences/*.dll

####################
# Visual Studio    #
####################
.vs/
UpgradeLog.XML
_UpgradeReport_Files/
*.ncrunchsolution
*.dotCover
*.sln.docstates

###############
# Directories #
###############
bin/
obj/
TestResults/

###################
# Web publish log #
###################
*.Publish.xml

#############
# Resharper #
#############
/_ReSharper.*
*.ReSharper.*

############
# Packages #
############
packages/
*.nupkg

######################
# Logs and Databases #
######################
*.log
*.sqlite

#########################
# User-Specific & Cache #
#########################
*.suo
*.user
*.cache
*.vscode/
*.tlog
*.ilk
*.pdb

##################
# ASP.NET Stuff  #
##################
appsettings*.json
secrets.json
#wwwroot/lib/
#wwwroot/node_modules/

##################
# OS-generated   #
##################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
