@using Household_Balance_Tracker.Models.ViewModels

@model PersonViewModel

<div class="div-failed warning-div">
    <h2 class="failed">Registration Failed</h2>
    <h4 class="failed">This Email already exists</h4>
    <p>Name: @Model.name</p>
    <p class="failed">Email: @Model.email</p>
    <p>Age: @Model.age</p>
</div>