@using Household_Balance_Tracker.Models.ViewModels

@model PersonViewModel

<div class="success-div warning-div">
    <h2 class="success">Registration Successful</h2>
    <p>Name: @Model.name</p>
    <p>Email: @Model.email</p>
    <p>Age: @Model.age</p>
</div>
