@using Household_Balance_Tracker.Models.ViewModels

@model TransactionViewModel

<div class="success-div warning-div">
    <h2 class="success">Registration Successful</h2>
    <p>Details: @Model.description</p>
    <p>Value: @Model.value</p>
    <p>Type: @Model.type</p>
    <p>Owner Identifier: @Model.emailOrId</p>
</div>