@{
    ViewData["Title"] = "Insert Person";
}

<div class="form-div">
    <h1>@ViewData["Title"]</h1>

    <form action="" method="post">
        <div class="form-group">
            <label for="personName">Name</label>
            <input type="text" class="form-control form-field" id="personName" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="personAge">Age</label>
            <input type="number" class="form-control form-field" id="personAge" name="age" min="1" max="120"
                placeholder="Age">
        </div>
        <div class="form-group">
            <label for="personEmail">Email address</label>
            <input type="email" class="form-control form-field" id="personEmail" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <br>
        <button type="submit" class="button btn form-field">Insert</button>
    </form>
</div>
